/* Typography */
body {
    margin: 0;
    padding: 0;
    background: url('Background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif; /* Apply Google Font */
}

h1, h2, h3, h4, h5, h6 {
    color: white; /* Ensure heading colors are white */
}

/* Background Image Positioning */
#edify-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* Make sure the image stays on top of other content */
    width: auto; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 15px; /* Adjust padding for smaller screens */
    }
    .btn {
        font-size: 0.875rem; /* Smaller button text on small screens */
        padding: 8px 16px; /* Adjust button padding */
    }
    .form-group {
        margin-bottom: 10px; /* Adjust space between form groups */
    }
}

@media (min-width: 769px) {
    .container {
        padding: 30px; /* Larger padding for medium and larger screens */
    }
}

/* Form and Button Styles */
form {
    margin-top: 20px; /* Add space above the form */
}

.form-group {
    margin-bottom: 15px; /* Add space between form groups */
}

.form-control {
    background-color: transparent; /* Make form inputs transparent */
    color: white; /* Set text color for form inputs */
    border-radius: 15px; /* Add rounded corners to form inputs */
    border: 1px solid white; /* Add white border to form inputs */
    padding: 10px; /* Add padding to form inputs */
}

textarea.form-control {
    resize: vertical; /* Allow vertical resizing of textareas */
}

.btn {
    border-radius: 15px; /* Add rounded corners to buttons */
    padding: 10px 20px; /* Add padding to buttons */
    font-size: 1rem; /* Set font size for buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.btn-default {
    background-color: indigo; /* Set default background color for buttons */
    color: black; /* Set text color for buttons */
    border: 1px solid white; /* Add white border to buttons */
}

.btn-default:hover {
    background-color: indigo; /* Change background color on hover */
}
